    <div class="container">

        <div class="jumbotron">
        <h1 class="h1-select">Order Your Burger </h1>
        <p class="p1- select">Burger Orders for Pickup.</p>
        <br>
        <h2 class="h2-select">Select a Burger or Sandwich</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">Order Fresh Burger</label>
                   


                    <select data-placeholder="" id="newburger" name="burger">
                        <option value="Nothing Selected" selected>Please Select a Sandwich</option>
                        <option value="Hamburger">Hamburger</option>
                        <option value="CheeseBurger">CheeseBurger</option>
                        <option value="DoubleBfChz">Double Up (double meat and cheese)</option>
                        <option value="VeggieBurger">Veggie Burger</option>
                        <option value="PulledPork">Pulled Pork Sandwich</option>
                        <option value="Bacon">Baconator</option>
                        <option value="TripleDeck">Triple Deckers</option>
                    </select>

                    <button type="submit" class="btn btn-success" id="burgerAdd">
                        <span></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>

    </div>
    
