body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    /* background-color: cornflowerblue; */
    background-image: radial-gradient(#40e0d0, #ff8c00, #ff0080);
    /* background-image: radial-gradient(#0cebeb, #20e3b2, #29ffc6); */
}
#container{
    text-align: center;
    font-size: 35px;
    text-decoration: underline black;
    font-family: 'Alfa Slab One', cursive;
    color: yellow;
    /* text-shadow: -1px 0 violet, 0 4px violet, 4px 0 violet, 0 -1px violet;     */
    background-color: black;
    height: 500px;
    padding-top: 20px;
    margin-top: 0px;
}

#h4 {
    text-align: center;
    font-size: 25px;
    font-family: 'Alfa Slab One', cursive;
    color: yellow;
    /* text-shadow: -1px 0 violet, 0 4px violet, 4px 0 violet, 0 -1px violet; */
    background-color: black;
}
#h4 {
    text-align: center;
    font-size: 25px;
    font-family: 'Alfa Slab One', cursive;
    color: yellow;
    /* text-shadow: -1px 0 violet, 0 4px violet, 4px 0 violet, 0 -1px violet; */
    background-color: black;
}
.jumbotron {
    background-color: black;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    color: yellow;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
    border-style: dashed;
    box-shadow: 0px 0px 8px 8px black;
    margin-top: 20px;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    color: red;
}

.panel-default>.panel-heading {
    color: white;
    background-color: black;
    /* border-color: yellow; */
    /* border-style: dashed; */
    font-family: 'Anton', sans-serif;
    text-align: center;
    box-shadow: 0px 0px 2px 2px black;
    border-color: black;
    padding-bottom: 0px;
}
label {
    color: black;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    text-shadow: none;
    font-family: fantasy;
    font-size: 20px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: black;
}

#addburger {
    color: #fff;
    background-color: black;
    border-color: black;
}
.fa-thumbs-up:before {
    content: "\f164";
    color: white;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: 200;
}
.h2, h2 {
    font-size: 30px;
    color: green;
}
#money {
    background-color: black;
    color: white;
}
.btn-warning {
    color: #fff;
    background-color: black;
    border-color: black;
}
.btn-warning:hover {
    color: #fff;
    background-color: black;
    border-color: black;
}
.panel-body {
    padding: 15px;
    background-color: black;
    color: white;
    /* border-style: dashed; */
    /* border-color: yellow; */
    font-family: 'Anton', sans-serif;
    /* box-shadow: 4px 4px 8px 8px black; */
    box-shadow: 0px 0px 2px 2px black;
    border-radius: 2px;
}
b, strong {
    font-weight: 700;
    font-size: 25px;
    /* text-decoration: underline; */
}
label {
    color: black;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    text-shadow: none;
    font-family: fantasy;
    display: block;
}
.btn-danger {
    color: #fff;
    background-color: black;
    border-color: black;
}
.btn-danger:hover {
    color: #fff;
    background-color: black;
    border-color: black;
}
#trashbutton {
    background-color: black;
    border-color: black;
    color: white;
}
#eatbutton {
    background-color: black;
    border-color: black;
    color: white;
}
p {
    margin: 0 0 10px;
    padding-top: 13px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: black;
    cursor: pointer;
} 